.summary {
	background: #e6e6e6;
	width: 350px;
	padding: 0;
}

.home-nav ul {
	list-style-type: none;
	background: white;
	margin: 0;
    padding: 0;
    overflow: hidden;
	border-left: solid black 1px;
}

.home-nav li {
	float: left;
	background: #cccccc;
	border-top: solid black 1px;
	border-right: solid black 1px;
}

.home-nav a {
	display: block;
	padding: 10px 13px;
	text-decoration: none;
	color: white;
}

.home-nav a:hover {
	background: #e6e6e6;
}

.profile {
	width: inherit;
	padding: 10px 0;
	border: black 1px solid;
}

.profile img {
	max-width: 200px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.profile ul {
	list-style-type: none;
}

.profile p {
	margin: 0;
}



/* No summoner account found */
.no-summoner-account {
	position: relative;
	width: 100%;
	text-align: center;
}

.no-summoner-account p {
	color: #2eb82e;
	padding-bottom: 2px;
}

.no-summoner-account a {
	position: absolute;
	left: 222px;
	bottom: 1px;
	padding: 3px 9px;
	background: white;
}

.no-summoner-account a:hover {
	color: #4da6ff;
}

.no-summoner-account input {
	padding-left: 10px;
	width: 280px;
	height: 30px;
}

.no-summoner-account select {
	position: absolute;
	left: 255px;
	height: 30px;
	z-index: 1;		/*Left border dissapears on screen resize*/
}




/*move to seperate file*/
.newsfeed {
	height: 500px;
}