<!-- Navbar -->
<div class="navbar" ng-controller="navbarCtrl">
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="#">Friends</a></li>
		<li><a href="#">Leaderboard</a></li>
		<li><a href="#">About</a></li>
		<li><a href ng-click="logout()" >Sign out</a></li>
	</ul>
</div>
<!-- /.Navbar -->

<!-- Search bar -->
<div class="container">
	<div class="row center">
	<h1>Clown Fiesta</h1>
		<div class="summoner-lookup" ng-controller="searchCtrl">	
			<form>
				<p>Summoner name: </p>
				<input type="text" placeholder="summoner1, summoner2, summoner3, ..." ng-model="searchQuery" ng-keydown="submitForm($event)">
				<a id="submit "href ng-click="find()"><i class="fa fa-search" aria-hidden="true"></i></a><br>

				<p>Region:</p>
				<select ng-model="region">
					<option value="na1">NA
					<option value="euw1">EUW
				</select><br>
			</form>
		</div>
	</div>
</div>
<!-- /.Search bar -->