<div ng-include src="'view/navbar.html'"></div>

<div class="container">
  <div class="row">

    <div class="col-xs-4 summary">

      <!-- home sub navigation -->
      <div class="home-nav">
        <ul>
          <li><a ng-class="{'home-nav-active': isActive('profile')}" href ng-click="switchTo('profile')">Profile</a></li>
          <li><a ng-class="{'home-nav-active': isActive('league')}" href ng-click="switchTo('league')">League</a></li>
          <li><a ng-class="{'home-nav-active': isActive('champions')}" href ng-click="switchTo('champions')">Champions</a></li>
        </ul>
      </div>

      <div class="summary-border" ng-controller="profile">       

        <!-- profile -->
        <div ng-show="profile" class="profile">
          <h2>{{username}}</h2>

          <div ng-show="accountSearch" class="account-result">
            <img ng-src="http://ddragon.leagueoflegends.com/cdn/7.15.1/img/profileicon/{{result.profileIcon}}.png" alt="Profile icon"><br>
            <ul>
              <li><p>Summoner: {{result.summonerName}}</p></li>
              <li><p>Last online: {{result.lastActivity | date:'yyyy-MMM-dd'}}</p></li>
              <li><p>Level: {{result.summonerLevel}}</p></li>
            </ul>
          </div>
        </div>
        <!-- ./profile -->

        <!-- league -->
        <div ng-show="league" class="league">
          
          <div class="sub-nav-wrapper">
            <div class="sub-nav">
              <ul>
                <li><a ng-class="{'sub-nav-active': isActive('rankedSolo')}" href ng-click="changeLeague('rankedSolo')">Ranked Solo</a></li>
                <li><a ng-class="{'sub-nav-active': isActive('rankedFlex')}" href ng-click="changeLeague('rankedFlex')">Ranked Flex</a></li>
              </ul>
            </div>
          </div>

          <h2>{{username}}</h2>

          <!-- Ranked Solo -->
          <div ng-show="rankedSolo && accountSearch">
            <img ng-src="/assets/images/tier-icons/{{result.soloIcon | lowercase}}.png" alt="Ranked solo icon">
            <ul>
              <li><p>League: {{result.soloLeagueName}}</p></li>
              <li><p>Tier: {{result.soloTier}}</p></li>
              <li><p>Division: {{result.soloDivision}}</p></li>
              <li><p>League Points: {{result.soloLP}}</p></li>
              <li><p>Wins: {{result.soloWins}}</p></li>
              <li><p>Losses: {{result.soloLosses}}</p></li>
            </ul>
          </div>

          <!-- Ranked Flex -->
          <div ng-show="rankedFlex && accountSearch">
            <img ng-src="/assets/images/tier-icons/{{result.flexIcon | lowercase}}.png" alt="Ranked flex icon">
            <ul>
              <li><p>League: {{result.flexLeagueName}}</p></li>
              <li><p>Tier: {{result.flexTier}}</p></li>
              <li><p>Division: {{result.flexDivision}}</p></li>
              <li><p>League Points: {{result.flexLP}}</p></li>
              <li><p>Wins: {{result.flexWins}}</p></li>
              <li><p>Losses: {{result.flexLosses}}</p></li>
            </ul>
          </div>
        </div>
        <!-- ./league -->

        <!-- champions -->
        <div ng-show="champions" class="champions">
          <div class="sub-nav-wrapper">
            <div class="sub-nav">
              <ul> <li><a ng-class="{'sub-nav-active': true}">Season 7</a></li></ul>
            </div>
          </div>
          <h2>{{username}}</h2>
        </div>
        <!-- ./champions -->

        <!-- Add league of legends account -->
        <div ng-show="!summonerAccount" class="no-summoner-account">
          <p>Find your summoner account!</p>
          <input type="text" id="summonerName" name="summonerName" ng-model="summoner.name" placeholder="Summoner name" ng-keydown="searchOnKey($event)" autofocus>
          <select ng-model="summoner.region">
            <option value="na1">NA</option>
            <option value="euw1">EUW</option>
          </select>
          <a href ng-click="search(summoner.region, summoner.name)"><i class="fa fa-search" aria-hidden="true"></i></a><br>
        </div>
        <button ng-show="!summonerAccount && accountSearch" type="button" ng-click="addAccount()">Add account</button>
      </div>
      <!-- ./summary-border -->
    </div>
    <!-- ./summary -->
  </div>
</div>