<h1>Rivals.GG</h1>

<!-- Login form -->
<div class="form">
	<form name="loginForm" method="post" ng-submit="submit()" novalidate>

		<!-- Username -->
		<label for="username">Username</label>
		<input type="text" id="username" name="username" ng-model="credentials.username" autofocus required>
		<div class="form-error" ng-show="(loginForm.$submitted || loginForm.username.$dirty) && loginForm.username.$invalid">
			<span ng-show="loginForm.username.$error">Username is required</span>
		</div>

		<!-- Password -->
		<label for="password">Password</label>
		<input type="password" id="password" name="password" ng-model="credentials.password" required>
		<div class="form-error" ng-show="(loginForm.$submitted || loginForm.password.$dirty) && loginForm.password.$invalid">
			<span ng-show="loginForm.password.$error">Password is required</span>
		</div>

		<!-- Submit Button -->
		<div class="submit-input">
			<input type="submit" value="Log in">
		</div>

		<div class="form-error" ng-show="error">
			<span>Username or password is incorrect</span>
		</div>
		<p>Don't have an account? <a href="/">Register</a></p>
	</form>
</div>