<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<title>Toxic</title>

		<!-- Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
		<script src="app.js"></script>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- Controllers -->
		<script src="formCtrl.js"></script>

		<!-- Stylesheets -->
		<link href="app.css" rel="stylesheet" type="text/css">

		<!-- Fonts -->
		<script src="https://use.fontawesome.com/43737f61d4.js"></script>
	</head>

	<body>

		<!-- Navbar -->
		<div class="navbar">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Friends</a></li>
				<li><a href="#">Leaderboard</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Sign in</a></li>
				<li><a href="#">Create Account</a></li>
			</ul>
		</div>
		<!-- /.Navbar -->

		<div ng-controller="formCtrl">
			<div class="container">
				<div class="row center">
				<h1>Clown Fiesta</h1>
					<div class="summoner-lookup">	
						<form>
							<p>Summoner name: </p>
							<input type="text" ng-model="name">
							<a href ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></a><br>

							<p>Region:</p>
							<select ng-model="region">
								<option value="na1">NA
								<option value="euw1">EUW
							</select><br>
						</form>
					</div>
				</div>
				<div class="row not-found" ng-show="missing">
					<p>An error occured or summoner not found</p>
				</div>
			</div>

			<div class="container" ng-repeat="x in records">
				<div class="row portfolio" ng-show="x.result">
					<div class="col-xs-4 center">
						<h3>{{x.summonerName}}</h3>
						<img ng-src="http://ddragon.leagueoflegends.com/cdn/7.15.1/img/profileicon/{{x.profileIcon}}.png" alt="Profile icon"><br>
						<div class="profile">
							<p><b>Level:</b> {{x.summonerLevel}}</p>
							<p><b>Last online:</b> {{x.lastActivity | date:'yyyy-MMM-dd'}}</p>
						</div>
					</div>
					
					<div class="col-xs-4 center">
						<h3>Ranked Solo</h3>
						<img ng-src="/assets/images/tier-icons/{{x.soloIcon | lowercase}}.png" alt="Ranked solo icon"><br>
						<div class="ranked-stats" ng-show="x.soloActive">
							<p><b>League:</b> {{x.soloLeagueName}}</p>
							<p><b>Tier:</b> {{x.soloTier}}</p>
							<p><b>Division:</b> {{x.soloDivision}}</p>
							<p><b>League Points:</b> {{x.soloLP}}</p>
							<p><b>Wins:</b> {{x.soloWins}}</p>
							<p><b>Losses:</b> {{x.soloLosses}}</p>
						</div>

						<div ng-show="!x.soloActive">
							<p><b>League:</b> Unranked</p>
						</div>
					</div>

					<div class="col-xs-4 center">
						<h3>Ranked Flex</h3>
						<img ng-src="/assets/images/tier-icons/{{x.flexIcon | lowercase}}.png" alt="Ranked flex icon"><br>
						<div class="ranked-stats" ng-show="x.flexActive">
							<p><b>League:</b> {{x.flexLeagueName}}</p>
							<p><b>Tier:</b> {{x.flexTier}}</p>
							<p><b>Division:</b> {{x.flexDivision}}</p>
							<p><b>League Points:</b> {{x.flexLP}}</p>
							<p><b>Wins:</b> {{x.flexWins}}</p>
							<p><b>Losses:</b> {{x.flexLosses}}</p>
						</div>

						<div ng-show="!x.flexActive">
							<p><b>League:</b> Unranked</p>
						</div>
					</div>
				</div>
				<!-- <div class="col-xs-12 not-found" ng-switch-when="missing">
						<p>An error occured or summoner not found</p>
				</div> -->
			</div>
		</div>

	</body>

	<footer>
	</footer>
</html>