<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<title>Toxic</title>

		<!-- Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
		<script src="app.js"></script>

		<!-- Controllers -->
		<script src="formCtrl.js"></script>

		<!-- Stylesheets -->
		<link href="app.css" rel="stylesheet" type="text/css">

		<!-- Fonts -->
		<script src="https://use.fontawesome.com/43737f61d4.js"></script>
	</head>

	<body>

		<!-- Navbar -->
		<div class="navbar">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Friends</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>
		<!-- /.Navbar -->

		<h1>Clown Fiesta</h1>
		<div class="wrapper">
			<div class="summoner-lookup" ng-model="result" ng-controller="formCtrl">
				<form>
					<p>Summoner name: </p>
					<input type="text" ng-model="name">
					<a href ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></a><br>

					<p>Region:</p>
					<select ng-model="region">
						<option value="na1">NA
						<option value="euw1">EUW
					</select><br>
				</form>

				<div ng-switch="result">
					<div ng-switch-when="found" class="account">
						<h3>Profile</h3>
						<p><b>Summoner name:</b> {{summonerName}}</p>
						<p><b>Level:</b> {{summonerLevel}}</p>
						<p><b>Last online:</b> {{lastActivity | date:'yyyy-MMM-dd'}}</p>

						<div class="ranked-solo">
							<h3>Ranked Solo</h3>
							<p><b>League:</b> {{soloLeagueName}}</p>
							<p><b>Tier:</b> {{soloTier}}</p>
							<p><b>Division:</b> {{soloDivision}}</p>
							<p><b>League Points:</b> {{soloLP}}</p>
							<p><b>Wins:</b> {{soloWins}}</p>
							<p><b>Losses:</b> {{soloLosses}}</p>
						</div>

						<div class="ranked-flex">
							<h3>Ranked Flex</h3>
							<p><b>League:</b> {{flexLeagueName}}</p>
							<p><b>Tier:</b> {{flexTier}}</p>
							<p><b>Division:</b> {{flexDivision}}</p>
							<p><b>League Points:</b> {{flexLP}}</p>
							<p><b>Wins:</b> {{flexWins}}</p>
							<p><b>Losses:</b> {{flexLosses}}</p>
						</div>
					</div>

					<div ng-switch-when="missing" class="not-found">
						<p>An error occured or summoner not found</p>
					</div>
				</div>
			</div>
		</div>

	</body>

	<footer>
	</footer>
</html>