<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<base href="/">
		<title>Toxic</title>

		<!-- Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
		<script src="app.js"></script>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- Controllers -->
		<script src="/controllers/formCtrl.js"></script>
		<script src="/controllers/filterCtrl.js"></script>

		<!-- Stylesheets -->
		<link href="/assets/index.css" rel="stylesheet" type="text/css">
		<link href="/assets/summoner.css" rel="stylesheet" type="text/css">

		<!-- Fonts -->
		<script src="https://use.fontawesome.com/43737f61d4.js"></script>
	</head>

	<body>

		<h1>Rivals.GG</h1>

		<div class="form">
			<form name="register" method="post">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" ng-model="username">

				<label for="pass">Password</label>
				<input type="password" id="pass" name="password" ng-model="password">

				<label for="confirmPass">Confirm password</label>
				<input type="password" id="confirmPass" name="confirmPassword" ng-model="confirmPassword">

				<label for="email">Email</label>
				<input type="text" id="email" name="email" ng-model="email">

				<div class="createAcc">
					<input type="submit" value="Create account">
				</div>
			</form>
		</div>

		<div ng-view></div>

	</body>

	<footer>
	</footer>
</html>