.form-wrapper {
	position: fixed;
  	top: 35%;
  	left: 50%;
	transform: translate(-50%, -50%);
}

.heading {
	padding-bottom: 5px;
	text-align: center;
}

.heading h1 {
	color: black;
	padding-top: 15px;
	margin: 0;
}

.heading p {
	color: black;
	white-space: nowrap;
}

div.form, .alternative {
	width: 400px;
	background: #f2f2f2;
	padding: 15px 20px;
	border: solid black 1px;
	text-align: center;
	
	display: block;
	margin: 0 auto;
}

div.form input, div.form label {
	display: block;
	text-align: left;
}

div.form input[type=text], div.form input[type=password], div.form input[type=email] {
	background: white;
	width: 100%;
	margin-bottom: 5px;
}

div.form p, div.form a {
	font-family: inherit;
	font-size: inherit;
}

div.form input[type=submit] {
	margin: 0 auto;
}

.submit-input {
	padding-top: 10px;
}

.alternative {
	margin-top: 15px;
	padding: 20px;
}

.alternative p, .alternative a {
	font-size: 14px;
	margin: 0;
}


/* Form validation. *
 * -----------------*/
 .form-error {
 	padding-top: 3px;
 	color: #ff3333;
 }