.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;

    /*padding-left: 100px;*/
}

.navbar li {
	float: left;
}

.navbar li:last-child {
	float: right;
}

.nav-links a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 25px;
}

.nav-links a:hover {
	background-color: #111;
}

.active {
	background-color: #111;
}

.search-bar {
	position: relative;
	width: 350px;
	padding: 20px 3px 20px 25px;
}

.search-bar input {
	border: solid orange 1px;
	padding: 5px 0; 
	padding-left: 10px;
	width: 100%;
}

.search-bar a {
	position: absolute;
	top: 21px;
	left: 315px;
	text-decoration: none;
	padding: 4px 8px;
	background: white;
}

.search-bar a:hover, .search-bar a:active {
	text-decoration: none;
}

.search-bar a:hover {
	color: #4da6ff;
}

.region-select {
	padding: 20px 25px 20px 0;
}

.region-select select {
	background: white;
	border: solid orange 1px;
	padding: 6px 0;
}