.not-found p {
	color: red;
	text-align: center;
}

.portfolio {
	max-width: 900px;
	border: solid 2px black;
	background: #99ddff;
	margin: 0 auto;
}

.portfolio img {
	max-width: 128px;
}

.summoner-profile, .ranked-stats {
	display: inline-block;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 15px;
}

.summoner-profile p, .ranked-stats p {
	margin: 0;
	padding: 0;
}